/* BlogCard.css */
.blog_card {
    display: flex;
    flex-direction: row;
    gap: 80px;
    margin-bottom: var(--mb-1);
    margin-top: var(--mb-1);
    /*box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);*/
    background-color: var(--container-color);
    width: 1200px;
    max-width: 1400px;
    padding: 20px;
}

.blog_card.reverse {
    flex-direction: row-reverse;
}

.blog_img {
    flex: 2;
    max-height: 500px;
    position: relative;
    z-index: 1;
}

.blog_img::after{
    content: '';
    width: 100%;
    height: 100%;
    background-color: lightskyblue;
    position: absolute;
    top: 20px;
    left: -20px;
    z-index: -5;
}

.blog_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog_content {
    display: flex;
    flex: 3;
    flex-direction: column;
}

.blog_content h1 {
    font-size:45px;
    margin: 0 0 20px 0;
}

.blog_content p {
    font-size: 18px;
    color: #555;
    margin: 0 0 20px 0;
}

.blog_content a {
    text-decoration: none;
    color: inherit;
}

.blog_content button {
    align-self: flex-start;

 }
